{% extends "list_difference/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<script type="text/javascript">

	function myFunction() {
		console.log("PRESSING")
		var input, filter, cards, cardContainer, h5, title, i;
	    input = document.getElementById("myFilter");
	    filter = input.value.toUpperCase();
	    cardContainer = document.getElementById("testitems");
	    cards = cardContainer.getElementsByClassName("col-lg-2 col-md-3 col-sm-12 col-xs-12");
	    for (i = 0; i < cards.length; i++) {
	        title = cards[i].querySelector(".card-body h5.card-title");
	        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
	            cards[i].style.display = "";
	        } else {
	            cards[i].style.display = "none";
	        }
	    }
	}

	
</script>

<div class="container-fluid noselect">
	<h1 class="display-4">Toolbox</h1>
	<p class="lead">
		<div class="alert alert-light" role="alert">
			<blockquote class="blockquote text-left">
			  <p class="mb-0">I have one rule for every software project I start. The end result must be something I will actually use.</p>
			  <footer class="blockquote-footer">Marc Hemeon</footer>
			</blockquote>
		</div>
	</p>

	<div class="row">
		<div class="col-md-4 mb-3">
	      <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search for tool..">
	    </div>
	</div>
	<br id="disappear"/>
	

	<div class="row" id="testitems">
		{% for app in out.root %}

			<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
		        <div class="card mb-2">
		            
		            <a target="_blank" href="{{ app.url }}" style="color: inherit;">
					  <div class="card-body">
					  	<div class="icon" style="text-align: center; color: Orange;">
								<span style='font-size:100px;'>{{ app.emoji|safe }}</span>
						</div>
					    <h5 class="card-title">{{ app.title }}</h5>
					    <p class="card-text">{{ app.description }}</p>
					  </div>
					</a>
		        </div>
		        <br id="disappear"/>
		    </div>

	    {% endfor %}
	</div>

</div>



{% endblock content %}
