{% block content %}

<div class="d-flex">
	<div>
		<ul>
			<li><b>Opening Hours</b></li>
			<br/>
			<li><b>Mon</b> CLOSED</li>
			<li><b>Tues</b> 11:30am to 2:30pm, 5pm to 9pm</li>
			<li><b>Wed</b> 11:30am to 2:30pm, 5pm to 9pm</li>
			<li><b>Thurs</b> 11:30am to 2:30pm, 5pm to 9pm</li>
			<li><b>Fri</b> 11:30am to 2:30pm, 5pm to 10pm</li>
			<li><b>Sat</b> 5pm to 10pm</li>
			<li><b>Sun</b> CLOSED</li>
		</ul>
	</div>
	<div class="ml-auto">
		<ul>
			<li style="text-align: right;"><b>FOLLOW US</b></li>
			<br/>
			<h1 class="h1"><a><i class="fab fa-instagram"></i></a> <a><i class="fab fa-facebook"></i></a></h1>
		</ul>
	</div>
</div>

{% endblock %}