<!DOCTYPE html>
<html>
	<head>

		<!-- AJAX -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- Handsontable -->
		<script src="https://cdn.jsdelivr.net/npm/handsontable@7.4.2/dist/handsontable.full.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/handsontable@7.4.2/dist/handsontable.full.min.css" rel="stylesheet" media="screen">

		<!-- pikaday calendar -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
		<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>

		<!-- moment js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

		<!-- Bootstrap -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

		<style>
			body{
				font-family: 'Quicksand', sans-serif;
				padding: 10px;
			}

			.btn.nohover:hover {
				cursor:default !important;
			}

			.saving{
				font-weight: bold;
				font-style: italic;
				background: #f48fb1;
			}

			.counting {
				font-weight: bold;
				background: #4dd0e1;
			}

			button {
				margin-left: 0.5em;
			}

			.dropdown-item:active {
				background-color: #5bc0de;
			}

			/*.currentRow {
				font-style: italic;
				color: white;
				background: grey !important;
			}

			.currentCol {
				font-style: italic;
				color: white;
				background: #17A2B8 !important;
			}*/

			/*.handsontable td.current {
				background-color: orange;
			}*/

			.ht_master tr > td.current {
				/*font-style: italic;*/
				background: white;
			}

			.ht_master tr > td.currentCol {
				font-style: italic;
				color: white;
				background: #17A2B8 !important;
			}

			.ht_master tr > td.currentRow {
				font-style: italic;
				color: white;
				background: grey !important;
			}

			.ht_master tr > td.area {
				color: white;
				background: black;
			}

			.ht_master tr > td.area-1 {
				background: orange;
			}

			.ht_master tr > td.area-2 {
				background: navy;
			}

/*			.noncurrentRow {
				color: black;
				background: orange !important;
			}

			.noncurrentCol {
				color: black;
				background: blue !important;
			}*/

		</style>

	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Restaurant Database - Dishes</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Download Table
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a id="downloadTSV" class="dropdown-item" href="#">TSV</a>
								<a id="downloadCSV" class="dropdown-item" href="#">CSV</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
					</li>

					<li class="nav-item">

						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Parameters</button>

						<div class="modal bd-example-modal-lg" tabindex="-1" role="dialog" id="myModal">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Room Parameters</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body noselect">

										<p>Hello this is a modal</p>

									</div>
									<div class="modal-footer">
										<button id="filter_param" type="button" class="btn btn-info">Save changes</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>

					</li>

					<li class="nav-item">
						<button onclick="myToggle()" id="focusToggle" type="button" class="btn btn-dark" data-toggle="modal">Toggle On</button>
					</li>

				</ul>

				<form class="form-inline">
					<button type="button" class="saving btn btn-success nohover" data-dismiss="modal" disabled>saved</button><span></span>
					<button type="button" class="counting btn btn-info nohover" data-dismiss="modal" disabled>#</button>
				</form>


			</div>
		</nav>

		<div style="padding-top: 10px;">
			<div id="example" style=" height: 90vh; overflow: hidden; width: 100%;"></div>
		</div>


		<script>

			var data = {{context.data|safe}}

			// var out_data = data.push([{"id":100}])

			// console.log(out_data)
			console.log(data)

			var data_ct = {{context.courses|safe}}

			var courses = function(course_types) {
				var course_names = []
				for (var course in course_types) {
					var obj = course_types[course]
					course_names.push(obj["course_name"])
				}

				return course_names
			}

			var trueOrFalse = ["vegan", "vegetarian_option", "gluten_free", "signature_dish"]

			var lut = {"id": "ID", "name": "Name", "description": "Description", "dish_course.course_name": "Course", "cost": "Cost", "vegan": "Vegan", "vegetarian_option":"Vegetarian Option", "gluten_free": "Gluten Free", "signature_dish": "Signature Dish", "spice_level": "Spice Level", "pieces": "Pieces"}

			var columns = [
				{
					renderer: idRenderer, data: 'id', readOnly: true
				},
				{
					renderer: idRenderer, data: 'name'
				},
				{
					renderer: idRenderer, data: 'description'
				},
				{
					renderer: idRenderer, data: 'dish_course.course_name', type: 'autocomplete', source: courses(data_ct)
				},
				{
					renderer: starRenderer, data: 'cost', type: 'numeric'
				},
				{
					renderer: idRenderer, data: 'vegan'
				},
				{
					renderer: idRenderer, data: 'vegetarian_option'
				},
				{
					renderer: idRenderer, data: 'gluten_free'
				},
				{
					renderer: idRenderer, data: 'signature_dish'
				},
				{
					renderer: idRenderer, data: 'spice_level', type: 'numeric'
				},
				{
					renderer: idRenderer, data: 'pieces', type: 'numeric'
				},
				
			]

			function roundTo(x) {
				return Number.parseFloat(x).toFixed(2);
			}

			function starRenderer(instance, td, row, col, prop, value, cellProperties) {
				// td.innerHTML = '&#x2605;' + value;
				td.innerHTML = roundTo(value)
				td.className = 'starColumn';
				td.id = data[cellProperties["row"]]["id"];
				return td;
			}

			// Event for `keydown` event. Add condition after delay of 200 ms which is counted from time of last pressed key.
			var debounceFn = Handsontable.helper.debounce(function (colIndex, event) {
				var filtersPlugin = table.getPlugin('filters');
				filtersPlugin.removeConditions(colIndex);
				filtersPlugin.addCondition(colIndex, 'contains', [event.target.value]);
				filtersPlugin.filter();
			}, 200);
			  
			var addEventListeners = function (input, colIndex) {
				input.addEventListener('keydown', function(event) {
					debounceFn(colIndex, event);
				});
			};
			  
			// Build elements which will be displayed in header.
			var getInitializedElements = function(colIndex) {
				var div = document.createElement('div');
				var input = document.createElement('input');
				div.className = 'filterHeader';
				addEventListeners(input, colIndex);
				div.appendChild(input);
				return div;
			};
			  
			// Add elements to header on `afterGetColHeader` hook.
			var addInput = function(col, TH) {
				// Hooks can return value other than number (for example `columnSorting` plugin use this).
				if (typeof col !== 'number') {
					return col;
				}
				if (col >= 0 && TH.childElementCount < 2) {
					TH.appendChild(getInitializedElements(col));
				}
			};
			  
			// Deselect column after click on input.
			var doNotSelectColumn = function (event, coords) {
				if (coords.row === -1 && event.target.nodeName === 'INPUT') {
					event.stopImmediatePropagation();
					this.deselectCell();
				}
			};


			var recordChanges = function(modifications, actions) {

				console.log("READ TO RECORD CHANGES")

				if (actions != 'loadData') {

					var editheaders = this.getColHeader();
					
					var payload = {}

					var out = []

					// var id_col = editheaders.indexOf("ID")

					// var course_col = editheaders.indexOf("Course")

					var data_rows = table.getSourceData()

					var ids = []

					for (var row in data_rows) {
						var id = data_rows[row]["id"]

						console.log(id)

						ids.push(id)
					}

					// var ids = table.getDataAtCol(id_col)

					console.log(ids)

					for ( var i = 0; i < modifications.length; i ++ ) {

						// var row_data = table.getSourceData()
						// console.log(row_data)

						var apob = {}


						console.log(editheaders)
						
						var dataHead = modifications[i][1]

						var actualHead = lut[dataHead]

						var dataValue = modifications[i][3]

						var col = editheaders.indexOf(actualHead)

						var row = modifications[i][0];


						console.log(dataHead)
						console.log(actualHead)
						console.log(dataValue)
						console.log(col)
						console.log(row)

						var val_id = this.getCell(row,col).id;

						console.log(val_id)

						var row_by_id = ids.indexOf(Number(val_id))

						if (dataHead.indexOf("course_name") != -1) {
							if (courses(data_ct).indexOf(dataValue) != -1) {
								var success_ct = true
							} else {
								var success_ct = false
								console.log("Cannot find course_name")
								$(".saving").html("failed saving")
								try {
									$(".saving").removeClass("btn-success")
									$(".saving").addClass("btn-danger")
								} catch(e) {
									console.log(e)
								}
							}
						} else {
							var success_ct = true
						}

						console.log("success: " + success_ct)

						try {

							if (success_ct == true) {

								var continue_run = true

								var course = table.getSourceData()[row_by_id]["dish_course"]["course_name"]
								console.log(course)
								apob["id"] = val_id

								if (dataHead.indexOf("course_name") != -1) {
									apob["dish_course"] = {}
									apob["dish_course"]["course_name"] = ""
									apob["dish_course"]["course_name"] = course
								} else {
									apob["dish_course"] = {}
									apob["dish_course"]["course_name"] = ""
									apob["dish_course"]["course_name"] = course

									console.log("Hello")

									if (trueOrFalse.indexOf(dataHead) != -1) {
										apob[dataHead] = dataValue.charAt(0).toUpperCase() + dataValue.substring(1);
										console.log(dataValue.charAt(0).toUpperCase() + dataValue.substring(1));
									} else {
										apob[dataHead] = dataValue
									}
								}

								console.log(apob)

								out.push(apob)
							}

						} catch(e) {
							var continue_run = false

							console.log("Cannot edit: " + dataHead)

							$(".saving").html("failed saving")
							try {
								$(".saving").removeClass("btn-success")
								$(".saving").addClass("btn-danger")
							} catch(e) {
								console.log(e)
							}
						}
					}

					console.log("PAYLOAD")
					console.log(out)

					if (continue_run == true) {

						$(".saving").html("saving...")
						try {
							$(".saving").removeClass("btn-success")
							$(".saving").addClass("btn-danger")
						} catch(e) {
							console.log(e)
						}

						setTimeout(function(){
							$.ajax({
								url: '/restaurant/updateDishes/',
								data: {data: JSON.stringify(out)},
								dataType: 'json',
								method: 'POST',
								success: function(response) {
									console.log(response)

									try {
										var result = response["unsuccessful"]
										console.log("FAILED")
										if (result == "True") {
											$(".saving").html("failed saving")
											try {
												$(".saving").removeClass("btn-success")
												$(".saving").addClass("btn-danger")
											} catch(e) {
												console.log(e)
											}
										} else {
											$(".saving").html("saved")
											try {
												$(".saving").removeClass("btn-danger")
												$(".saving").addClass("btn-success")
											} catch(e) {
												console.log(e)
											}
										}
									} catch(e) {
										console.log(e)
									}

									

								},
								failure: function(response) {
									console.log(response)

									$(".saving").html("failed saving")
									try {
										$(".saving").removeClass("btn-success")
										$(".saving").addClass("btn-danger")
									} catch(e) {
										console.log(e)
									}

								}
							})
						},200)
					}
				}
			}

			function idRenderer(instance, td, row, col, prop, value, cellProperties) {
				td.innerHTML = value;
				// td.id = data[row]["id"];
				td.id = data[cellProperties["row"]]["id"];
				return td
			}

			var updateDeets = function() {
				$('.counting').html(this.countRows())
			}

			var configurations = {
				licenseKey: 'non-commercial-and-evaluation',
				// comments: true, // Doesn't work properly
				data: data,
				colHeaders: ['ID', 'Name', 'Description', 'Course', 'Cost', 'Vegan', 'Vegetarian Option', 'Gluten Free', 'Signature Dish', 'Spice Level', 'Pieces'],
				contextMenu: true,
				search: true,
				formulas: true,
				filters: true,
				// autoColumnSize: {syncLimit: 300},
				colWidths: [50,300,500,170,100,80,170,120,140,120,80],
				columns: columns,
				undo: true,
				currentRowClassName: 'currentRow',
				currentColClassName: 'currentCol',
				selectionMode: 'multiple',

				hiddenColumns: {
					indicators: true
				},
				dropdownMenu: true,
				filters: true,

				multiColumnSorting: true,
				sortIndicator: true,
				renderAllRows: true,

				// Functions
				afterGetColHeader: addInput,
				beforeOnCellMouseDown: doNotSelectColumn,
				afterChange: recordChanges,
				afterRender: updateDeets,
				afterSelection: highlightRowCol,

				// columnSummary: [{
				// 	destinationRow: 0,
				// 	destinationColumn: 9,
				// 	reversedRowCoords: true,
				// 	forceNumeric: true,
				// 	type: 'sum'
				// },
				// {
				// 	destinationRow: 0,
				// 	destinationColumn: 10,
				// 	reversedRowCoords: true,
				// 	forceNumeric: true,
				// 	type: 'sum'
				// }]
			}

			var table = new Handsontable(document.getElementById('example'), configurations);

			// var hotInstance = $("#example").handsontable('getInstance');
			// console.log(hotInstance)

			var exportPlugin1 = table.getPlugin('exportFile');

			var downloadTSVButton = document.getElementById('downloadTSV');

			downloadTSVButton.addEventListener('click', function() {
				exportPlugin1.downloadFile('csv', {
					bom: false,
					columnDelimiter: '\t',
					columnHeaders: true,
					exportHiddenColumns: false,
					exportHiddenRows: false,
					fileExtension: 'tsv',
					filename: 'TSV-file_[YYYY]-[MM]-[DD]',
					mimeType: 'text/csv',
					rowDelimiter: '\r\n',
					rowHeaders: true
				});
			});

			var downloadCSVButton = document.getElementById('downloadCSV');

			downloadCSVButton.addEventListener('click', function() {
				exportPlugin1.downloadFile('csv', {
					bom: false,
					columnDelimiter: ',',
					columnHeaders: true,
					exportHiddenColumns: false,
					exportHiddenRows: false,
					fileExtension: 'csv',
					filename: 'CSV-file_[YYYY]-[MM]-[DD]',
					mimeType: 'text/csv',
					rowDelimiter: '\r\n',
					rowHeaders: true
				});
			});

			function myToggle() {
				var focusToggleBtn = document.getElementById('focusToggle');

				if (focusToggleBtn.innerHTML == "Toggle On") {
					focusToggleBtn.innerHTML = "Toggle Off"
					$("#focusToggle").removeClass("btn-dark")
					$("#focusToggle").addClass("btn-success")

					table.updateSettings({
						currentRowClassName: 'test',
						currentColClassName: 'test',
						colHeaders: ['ID', 'Name', 'ORANGE', 'Course', 'Cost', 'Vegan', 'Vegetarian Option', 'Gluten Free', 'Signature Dish', 'Spice Level', 'Pieces'],
					})

					const filtersPlugin = table.getPlugin('filters');

					filtersPlugin.addCondition(5, 'eq', ['true']);
					filtersPlugin.filter();

					table.render();

				} else {
					focusToggleBtn.innerHTML = "Toggle On"
					$("#focusToggle").removeClass("btn-success")
					$("#focusToggle").addClass("btn-dark")

					table.updateSettings({
						currentRowClassName: 'currentRow',
						currentColClassName: 'currentCol',
						colHeaders: ['ID', 'Name', 'TURTLE', 'Course', 'Cost', 'Vegan', 'Vegetarian Option', 'Gluten Free', 'Signature Dish', 'Spice Level', 'Pieces'],
					})

					const filtersPlugin = table.getPlugin('filters');

					filtersPlugin.clearConditions(5);
					filtersPlugin.filter();
					
					console.log(table)

					table.render();
				}
			}

			function highlightRowCol(row, column, row2, column2, preventScrolling, selectionLayerLevel) {
				console.log("HELLO")
				console.log(row)
				console.log(column)
				console.log(row2)
				console.log(column2)
				console.log(selectionLayerLevel)
			}

			$( document ).ready(function() {
				var row_count = table.getSourceData().length

				table.enablePlugin()

				table.alter('insert_row', row_count, 2)

				table.setDataAtCell(row_count + 1,1,"TOTAL",'loadData')

				table.setDataAtCell(row_count + 1,9,'=J1','loadData')
				console.log(table.hasComputedCellValue(row_count + 1,9))
				


			});

			table.render();

		</script>
	</body>
</html>