{% load custom_tags %}

<!DOCTYPE html>
<html>
<head>
	<title></title>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">

	<script src="https://code.iconify.design/1/1.0.5/iconify.min.js"></script>

	<style type="text/css">
		body{
			font-family: 'Quicksand', sans-serif;
		}

		.container {
			color: white;
		}

		h1 {
			font-weight: 700;
			color: lightgrey;
		}

		.jumbotron {
			background-image: url("https://images.unsplash.com/photo-1503682579489-1a53aff795af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
			background-size: cover;
			background-position: 0;
			/*height: 30rem;*/
			padding-top: 10rem;
			opacity: 85%;
			background-blend-mode: multiply;
		}

		.jumbotron > img {
			/*width: 100%;*/
			/*object-fit: cover;*/
		}

		.btn.nohover:hover {
			cursor:default !important;
		}

		.saving{
			font-weight: bold;
			font-style: italic;
			background: #f48fb1;
		}

		.counting {
			font-weight: bold;
			background: #4dd0e1;
		}

		button {
			margin-left: 0.5em;
		}

		.dropdown-item:active {
			background-color: #5bc0de;
		}

		nav {
			/*margin-bottom: 2rem;*/
		}

		hr {
			border-top: 1px solid white;
		}

		input[type="text"], textarea {
			outline: none;
			box-shadow:none !important;
			border:1px solid #ccc !important;
		}

	</style>

	<style type="text/css">
		
		.grid {
			margin: 2rem;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			grid-gap: 1rem;
		}

		.polaroid {
			background: #ededed;
			padding: 1rem;
			display: grid;
			border-radius: 6px;
		}

		.polaroid-square {
			display: grid;
			text-align: center;
		}

		.polaroid-square::before {
			content: "";
			padding-top: 100%;
			display: block;
			grid-area: 1 / 1 / 2 / 2;
			display: inline;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			grid-area: 1 / 1 / 2 / 2;
			border-radius: 3px 3px 0px 0px;
		}

		.colour-palette {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
		}

		.spacer {
			content: "";
			padding-top: 1rem;
		}

		.square {
			display: grid;
		}

		.square::before {
			content: "";
			padding-top: 100%;
			display: block;
		}

		body {
			/*margin: 2rem;*/
		}

	</style>
</head>
<body onload="checkImageLoad();">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>

				<li class="nav-item">
					<button onclick="myToggle()" id="focusToggle" type="button" class="btn btn-dark" data-toggle="modal">Toggle On</button>
				</li>

			</ul>

		</div>
	</nav>

	<div class="jumbotron jumbotron-fluid bg-dark">
		<div class="container">
			<h1 class="display-4 text-white">Pal<span>&#233;</span>tte</h1>
			<p class="lead">Moodboard tool to help you search for your next vibe.</p>

			<form action="{% url 'boards:boards-searchImages' %}" method="GET">
				<div class="form-row">

					<div class="col-12">
						<!-- <label class="sr-only" for="inlineFormInputGroup">Search..</label> -->
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<div class="input-group-text"><span class="iconify" data-icon="ion:search" data-inline="false"></span></div>
							</div>
							<input name="query" type="text" class="form-control" id="myHideInput" onkeyup="myHideFilter()" placeholder="Search.." value="{{request.GET.query}}">
						</div>
					</div>

				</div>
			</form>
		</div>
	</div>

	<div class="grid">

		{% if unsplash_data %}

			{% for unsplash in unsplash_data %}

			<div class="polaroid" id=0>
				<div class="polaroid-square">
					<img src={{ unsplash.urls.regular }} crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<a class="ttip" data-toggle="tooltip" data-placement="bottom" title="Hooray!" id='tooltip-{{ forloop.counter0 }}0'>
							<div class="square" id='{{ forloop.counter0 }}0'+ style="background: #ededed; border-radius: 0px 0px 0px 3px;" ></div>
						</a>
						<a class="ttip" data-toggle="tooltip" data-placement="bottom" title="Hooray!" id='tooltip-{{ forloop.counter0 }}1'>
							<div class="square" id='{{ forloop.counter0 }}1'+ style="background: #ededed;"></div>
						</a>
						<a class="ttip" data-toggle="tooltip" data-placement="bottom" title="Hooray!" id='tooltip-{{ forloop.counter0 }}2'>
							<div class="square" id='{{ forloop.counter0 }}2'+ style="background: #ededed;"></div>
						</a>
						<a class="ttip" data-toggle="tooltip" data-placement="bottom" title="Hooray!" id='tooltip-{{ forloop.counter0 }}3'>
							<div class="square" id='{{ forloop.counter0 }}3'+ style="background: #ededed;"></div>
						</a>
						<a class="ttip" data-toggle="tooltip" data-placement="bottom" title="Hooray!" id='tooltip-{{ forloop.counter0 }}4'>
							<div class="square" id='{{ forloop.counter0 }}4'+ style="background: #ededed; border-radius: 0px 0px 3px 0px;"></div>
						</a>
					</div>
				</div>
			</div>

			{% endfor %}

		{% else %}

			<div class="polaroid">
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=00 style="background: #ededed;"></div>
						<div class="square" id=01 style="background: #ededed;"></div>
						<div class="square" id=02 style="background: #ededed;"></div>
						<div class="square" id=03 style="background: #ededed;"></div>
						<div class="square" id=04 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=1>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/test" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=10 style="background: #ededed;"></div>
						<div class="square" id=11 style="background: #ededed;"></div>
						<div class="square" id=12 style="background: #ededed;"></div>
						<div class="square" id=13 style="background: #ededed;"></div>
						<div class="square" id=14 style="background: #ededed;"></div>
					</div>				
				</div>
			</div>
			<div class="polaroid" id=2>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/123" crossorigin="anonymous">
					<div class="spacer"></div>					
					<div class="colour-palette">
						<div class="square" id=20 style="background: #ededed;"></div>
						<div class="square" id=21 style="background: #ededed;"></div>
						<div class="square" id=22 style="background: #ededed;"></div>
						<div class="square" id=23 style="background: #ededed;"></div>
						<div class="square" id=24 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=3>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/hello" crossorigin="anonymous">
					<div class="spacer"></div>					
					<div class="colour-palette">
						<div class="square" id=30 style="background: #ededed;"></div>
						<div class="square" id=31 style="background: #ededed;"></div>
						<div class="square" id=32 style="background: #ededed;"></div>
						<div class="square" id=33 style="background: #ededed;"></div>
						<div class="square" id=34 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=4>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/key" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=40 style="background: #ededed;"></div>
						<div class="square" id=41 style="background: #ededed;"></div>
						<div class="square" id=42 style="background: #ededed;"></div>
						<div class="square" id=43 style="background: #ededed;"></div>
						<div class="square" id=44 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=4>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/orange" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=50 style="background: #ededed;"></div>
						<div class="square" id=51 style="background: #ededed;"></div>
						<div class="square" id=52 style="background: #ededed;"></div>
						<div class="square" id=53 style="background: #ededed;"></div>
						<div class="square" id=54 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=4>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/play" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=60 style="background: #ededed;"></div>
						<div class="square" id=61 style="background: #ededed;"></div>
						<div class="square" id=62 style="background: #ededed;"></div>
						<div class="square" id=63 style="background: #ededed;"></div>
						<div class="square" id=64 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=4>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/tred" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=70 style="background: #ededed;"></div>
						<div class="square" id=71 style="background: #ededed;"></div>
						<div class="square" id=72 style="background: #ededed;"></div>
						<div class="square" id=73 style="background: #ededed;"></div>
						<div class="square" id=74 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=4>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/plo" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=80 style="background: #ededed;"></div>
						<div class="square" id=81 style="background: #ededed;"></div>
						<div class="square" id=82 style="background: #ededed;"></div>
						<div class="square" id=83 style="background: #ededed;"></div>
						<div class="square" id=84 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=4>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/lol" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=90 style="background: #ededed;"></div>
						<div class="square" id=91 style="background: #ededed;"></div>
						<div class="square" id=92 style="background: #ededed;"></div>
						<div class="square" id=93 style="background: #ededed;"></div>
						<div class="square" id=94 style="background: #ededed;"></div>
					</div>
				</div>
			</div>

		{% endif %}

	</div>

	<script type="text/javascript">

		function myHideFilter() {
			var input = document.getElementById("myHideInput");
			var filter = input.value;
			// console.log(filter)
		}

		// Tooltip copy to clipboard

		function getTooltipVal(a) {
			var value = $(a).tooltip().attr('data-clipboard-text')
			return value
		}

		function setTooltip(a, message, prev) {

			$(a).tooltip('hide')
			.attr('data-original-title', message)
			.tooltip('show');

			setTimeout(function(){ 
				$(a).tooltip().attr('data-original-title', prev)
			}, 1000);
		}
		
		function hideTooltip(a) {
			setTimeout(function() {
			$(a).tooltip('hide');
			}, 1000);
		}

		var clipboard = new Clipboard('a')

		clipboard.on('success', function(e) {
			var val = getTooltipVal(e.trigger)
			setTooltip(e.trigger, 'Copied!', val);
			hideTooltip(e.trigger);
		});

		clipboard.on('error', function(e) {
			setTooltip(e.trigger, 'Failed!');
			hideTooltip(e.trigger);
		});

		// Create colour palette

		var rgbToHex = function (rgb) { 
			var hex = Number(rgb).toString(16);
			if (hex.length < 2) {
				hex = "0" + hex;
			}
			return hex;
		};

		var fullColorHex = function(r,g,b) {   
			var red = rgbToHex(r);
			var green = rgbToHex(g);
			var blue = rgbToHex(b);
			return red+green+blue;
		};

		function checkImageLoad() {

			const colorThief = new ColorThief();

			const img = document.querySelectorAll('img');

			img_palette_arr = []

			for (var i = 0; i < img.length; i ++) {

				var palette_arr = []

				colorThief.getColor(img[i]);

				var color = colorThief.getPalette(img[i], 5);

				for (var col = 0; col < color.length; col ++) {
					var palette_col = 'rgb(' + color[col] + ')'
					$('#' + i + col).css('background', palette_col);
					$('#tooltip-' + i + col).attr('data-original-title', "#" + fullColorHex(color[col][0], color[col][1], color[col][2]))
					$('#tooltip-' + i + col).attr('data-clipboard-text', "#" + fullColorHex(color[col][0], color[col][1], color[col][2]))
				}

			}

		}

		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
		});

	</script>
</body>
</html>