{% load custom_tags %}

<!DOCTYPE html>
<html>
<head>
	<title></title>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<style type="text/css">
		
		.grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			grid-gap: 1rem;
		}

		.polaroid {
			background: #ededed;
			padding: 1rem;
			display: grid;
			border-radius: 6px;
		}

		.polaroid-square {
			display: grid;
			text-align: center;
		}

		.polaroid-square::before {
			content: "";
			padding-top: 100%;
			display: block;
			grid-area: 1 / 1 / 2 / 2;
			display: inline;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			grid-area: 1 / 1 / 2 / 2;
			border-radius: 3px 3px 0px 0px;
		}

		.colour-palette {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
		}

		.spacer {
			content: "";
			padding-top: 1rem;
		}

		.square {
			display: grid;
		}

		.square::before {
			content: "";
			padding-top: 100%;
			display: block;
		}

		body {
			margin: 2rem;
		}

	</style>
</head>
<body onload="checkImageLoad();">

	<div class="grid">

		{% if unsplash_data %}

			{% for unsplash in unsplash_data %}

			<div class="polaroid" id=0>
				<div class="polaroid-square">
					<img src={{ unsplash.urls.small }} crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<a href="#" data-toggle="tooltip" data-placement="bottom" title="Hooray!" id='tooltip-{{ forloop.counter0 }}0'>
							<div class="square" id='{{ forloop.counter0 }}0'+ style="background: #ededed; border-radius: 0px 0px 0px 3px;"></div>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="bottom" title="Hooray!" id='tooltip-{{ forloop.counter0 }}1'>
							<div class="square" id='{{ forloop.counter0 }}1'+ style="background: #ededed;"></div>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="bottom" title="Hooray!" id='tooltip-{{ forloop.counter0 }}2'>
							<div class="square" id='{{ forloop.counter0 }}2'+ style="background: #ededed;"></div>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="bottom" title="Hooray!" id='tooltip-{{ forloop.counter0 }}3'>
							<div class="square" id='{{ forloop.counter0 }}3'+ style="background: #ededed;"></div>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="bottom" title="Hooray!" id='tooltip-{{ forloop.counter0 }}4'>
							<div class="square" id='{{ forloop.counter0 }}4'+ style="background: #ededed; border-radius: 0px 0px 3px 0px;"></div>
						</a>
					</div>
				</div>
			</div>

			{% endfor %}

		{% else %}

			<div class="polaroid">
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=00 style="background: #ededed;"></div>
						<div class="square" id=01 style="background: #ededed;"></div>
						<div class="square" id=02 style="background: #ededed;"></div>
						<div class="square" id=03 style="background: #ededed;"></div>
						<div class="square" id=04 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=1>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/test" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=10 style="background: #ededed;"></div>
						<div class="square" id=11 style="background: #ededed;"></div>
						<div class="square" id=12 style="background: #ededed;"></div>
						<div class="square" id=13 style="background: #ededed;"></div>
						<div class="square" id=14 style="background: #ededed;"></div>
					</div>				
				</div>
			</div>
			<div class="polaroid" id=2>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/123" crossorigin="anonymous">
					<div class="spacer"></div>					
					<div class="colour-palette">
						<div class="square" id=20 style="background: #ededed;"></div>
						<div class="square" id=21 style="background: #ededed;"></div>
						<div class="square" id=22 style="background: #ededed;"></div>
						<div class="square" id=23 style="background: #ededed;"></div>
						<div class="square" id=24 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=3>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/hello" crossorigin="anonymous">
					<div class="spacer"></div>					
					<div class="colour-palette">
						<div class="square" id=30 style="background: #ededed;"></div>
						<div class="square" id=31 style="background: #ededed;"></div>
						<div class="square" id=32 style="background: #ededed;"></div>
						<div class="square" id=33 style="background: #ededed;"></div>
						<div class="square" id=34 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=4>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/key" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=40 style="background: #ededed;"></div>
						<div class="square" id=41 style="background: #ededed;"></div>
						<div class="square" id=42 style="background: #ededed;"></div>
						<div class="square" id=43 style="background: #ededed;"></div>
						<div class="square" id=44 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=4>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/orange" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=50 style="background: #ededed;"></div>
						<div class="square" id=51 style="background: #ededed;"></div>
						<div class="square" id=52 style="background: #ededed;"></div>
						<div class="square" id=53 style="background: #ededed;"></div>
						<div class="square" id=54 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=4>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/play" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=60 style="background: #ededed;"></div>
						<div class="square" id=61 style="background: #ededed;"></div>
						<div class="square" id=62 style="background: #ededed;"></div>
						<div class="square" id=63 style="background: #ededed;"></div>
						<div class="square" id=64 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=4>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/tred" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=70 style="background: #ededed;"></div>
						<div class="square" id=71 style="background: #ededed;"></div>
						<div class="square" id=72 style="background: #ededed;"></div>
						<div class="square" id=73 style="background: #ededed;"></div>
						<div class="square" id=74 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=4>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/plo" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=80 style="background: #ededed;"></div>
						<div class="square" id=81 style="background: #ededed;"></div>
						<div class="square" id=82 style="background: #ededed;"></div>
						<div class="square" id=83 style="background: #ededed;"></div>
						<div class="square" id=84 style="background: #ededed;"></div>
					</div>
				</div>
			</div>
			<div class="polaroid" id=4>
				<div class="polaroid-square">
					<img src="https://source.unsplash.com/random/lol" crossorigin="anonymous">
					<div class="spacer"></div>
					<div class="colour-palette">
						<div class="square" id=90 style="background: #ededed;"></div>
						<div class="square" id=91 style="background: #ededed;"></div>
						<div class="square" id=92 style="background: #ededed;"></div>
						<div class="square" id=93 style="background: #ededed;"></div>
						<div class="square" id=94 style="background: #ededed;"></div>
					</div>
				</div>
			</div>

		{% endif %}

	</div>

	<script type="text/javascript">


		$(document).click(function(event) {
			// console.log(event.target)
			// console.log(event.target.parentElement.id)
			try {
				var selectedColour = $("#" + event.target.parentElement.id).attr('data-original-title')
				alert(selectedColour)
			} catch(e) {

			}


		});

		var rgbToHex = function (rgb) { 
			var hex = Number(rgb).toString(16);
			if (hex.length < 2) {
				hex = "0" + hex;
			}
			return hex;
		};

		var fullColorHex = function(r,g,b) {   
			var red = rgbToHex(r);
			var green = rgbToHex(g);
			var blue = rgbToHex(b);
			return red+green+blue;
		};

		function checkImageLoad() {

			const colorThief = new ColorThief();

			const img1 = document.querySelector('img');

			const img = document.querySelectorAll('img');

			for (var i = 0; i < img.length; i ++) {

				colorThief.getColor(img[i]);

				var color = colorThief.getPalette(img[i], 5);

				for (var col in color) {
					var palette_col = 'rgb(' + color[col] + ')'
					$('#' + i + col).css('background', palette_col);
					$('#tooltip-' + i + col).attr('data-original-title', "#" + fullColorHex(color[col][0], color[col][1], color[col][2]))
				}

			}

		}

		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();   
		});

	</script>
</body>
</html>